[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
	branch = release
[submodule ".cursor/packs/shared"]
	path = .cursor/packs/shared
	url = https://github.com/xynova/cursor-packs.git
